// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#markdown-toc:before {
  content: "Table of Contents";
  font-weight: bold;
}
ul#markdown-toc {
  list-style: none;
  float: right;
  @include shadow-box;
  background-color: white;
}
